$Paleblue: hsl(225, 100%, 94%);
$Brignblue: hsl(245, 75%, 52%);

$Verypaleblue: hsl(225, 100%, 98%);
$Desaturatedblue: hsl(224, 23%, 55%);
$Darkblue: hsl(223, 47%, 23%);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    color: rgb(151 158 173);
}
a{
    color: rgb(56 42 225);
}
main {
    height: 100vh;
    width: 100%;
    background-color: $Paleblue;
    font-family: 'Red Hat Display', sans-serif;
}
section{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.fondo{
    width: 100%;
    height: 500px;
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.card{
    width: 450px;
    height: 755px;
    position: relative;
    z-index: 10;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    z-index: 10;
    background-color: rgb(255 255 255);
    &_text{
        display: grid;
        place-items: center;
        padding: 40px 30px;
    }
    h1{
        font-weight: 800;
        font-size: 30px;
        margin-bottom: 30px;
    }
    p{
        text-align: center;
    }
    &_plan {
        width: 100%;
        margin: 30px 0;
        padding: 25px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        background-color: rgb(248 249 254);
        cursor: pointer;
        &--anual{
            display: flex;
            img{
                margin-right: 20px;
            }
            div{
                align-self: center;
            }
        }
    }
}

.button_purple {
    background-color: rgb(56 42 225);
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
    border: 0;
}
.button_purple:hover {
    box-shadow: 1px 4px 7px 6px rgba(56,42,225,0.43);
}
.button_white {
    @extend .button_purple;
    background-color: #fff;
    color: rgb(151 158 173);
    margin-bottom: 0px;
}
.button_white:hover {
    @extend .button_purple;
    margin-bottom: 10px;
}