* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  color: #979ead;
}

a {
  color: #382ae1;
}

main {
  height: 100vh;
  width: 100%;
  background-color: #e0e8ff;
  font-family: "Red Hat Display", sans-serif;
}

section {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.fondo {
  width: 100%;
  height: 500px;
  background-image: url("./images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.card {
  width: 450px;
  height: 755px;
  position: relative;
  z-index: 10;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  z-index: 10;
  background-color: white;
}
.card_text {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 40px 30px;
}
.card h1 {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 30px;
}
.card p {
  text-align: center;
}
.card_plan {
  width: 100%;
  margin: 30px 0;
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: #f8f9fe;
  cursor: pointer;
}
.card_plan--anual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card_plan--anual img {
  margin-right: 20px;
}
.card_plan--anual div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.button_purple, .button_white:hover, .button_white {
  background-color: #382ae1;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  border: 0;
}

.button_purple:hover, .button_white:hover {
  -webkit-box-shadow: 1px 4px 7px 6px rgba(56, 42, 225, 0.43);
          box-shadow: 1px 4px 7px 6px rgba(56, 42, 225, 0.43);
}

.button_white {
  background-color: #fff;
  color: #979ead;
  margin-bottom: 0px;
}

.button_white:hover {
  margin-bottom: 10px;
}
